# Бинарные файлы, созданные при сборке
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы, созданные инструментом go test
*.test

# Профили производительности
*.out

# Папка с собранными бинарниками
/bin/

# Файлы зависимостей вендоринга (если в будущем будете использовать)
/vendor/

# Настройки IDE
.idea/
.vscode/
*.swp

# Файлы окружения (СЕКРЕТЫ!)
.env
.env.local
*.env

# Файлы операционных систем
.DS_Store
Thumbs.db